* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #24272e;
}
header {
  background: #fff;
  padding: 20px;
}

header > h1 {
  color: #000000;
  text-align: center;
  font-family: sans-serif;
}
